{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="firstname">First Name</label>
    <input name="firstname" id="firstname" required>
    <label for="lastname">Last Name</label>
    <input name="lastname" id="lastname" required>
    <label for="age">Age</label>
    <input name="age" id="age" required>
    <label for="occupation">Occupation</label>
    <input name="occupation" id="occupation" required>
    <label for="zipcode">Zipcode</label>
    <input name="zipcode" id="zipcode" required>
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}